<!DocTYPE html>

<html>

<head>
     <link rel="stylesheet" href="./css/style.css">
</head>

<body>

     <div class="main-content">
       {{>header}}
   {{!-- rendering the partials into here --}}


     <h1>{{helpText}}</h1>
     </div>
     <p>{{name}}<p/>
     <p> I need help from Sandeep<p/>
      {{>footer}}
</body>

</html>
